<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>

    <header>
        <div class="">
            My Trips
        </div>
        <div class="addTrip">
            + add trip
        </div>
    </header>
    <main>
        <div id="mainApp">
            <h1>Travel Planner</h1>

            <div id="error">Please enter valid data :)! </div>

            <div class="TripData">
                <form onsubmit="Client.getTripData(event)">
                    <h3>Where are you going?</h3>
                    <input id="destination" type="text" value="" required placeholder="city name" />
                    <h3>When are you going? </h3>
                    <input type="date" id="datefield" required name="trip-start"/>
                    <h3>When are you returning? </h3>
                    <input type="date" id="enddatefield" required name="trip-end"/>
                    <input type="submit" name="Submit" value="submit" onclick="Client.getTripData(event)"
                    onsubmit=" Client.getTripData(event)"></input>
                </form>
                
            </div>


            <section id="Tripentry">

                <div class="city">
                    <img id="cityImg">
                </div>

                <label> My Trip is to:</label>
                <div id="city"></div>

                <label>Departing at: </label>
                <div id="date"></div>
                <label>Your Trip starts in <span id="tripStart"></span> days.</label>
                <label> High: <span id="hightemp"></span></label>
                <label> Low: <span id="lowtemp"></span></label>
                <label>Expected weather for this date is: </label><span id="forecast"></span>


            </section>

        </div>
    </main>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script> 
</body>

</html>